# Jupyter
.ipynb_checkpoints/
.jupyter/

# Anaconda
anaconda-project.yml
anaconda_projects/
*.db

# Data
data/
datasets/
*.csv
*.zip

# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

